include ../blocks/doctype/doctype

block variables
  -
    var pageTitle = pages.about.title, pageUrls = [pages.about.url];

include ../blocks/header/header
include ../blocks/content/content
include ../blocks/footer/footer

+doctype(pageTitle)
  .-wrapper
    +header()
    +content()
      section.-section._about
        header.__header
          .-container-fluid
            h1.-section.__title О компании
        .-container-fluid
          .-row
            .-col-xs-12.col-md-7.content-block
              p.
                Рекламное агентство «Констракт-Регион» специализируется на закупках рекламных возможностей в любых медиа на территории всей России. Наше агентство было первым в стране, кто занялся разме-щением рекламы на региональном ТВ.
              p.
                Профессиональная команда, которая постоянно совершенствуется, уже больше 20 лет помогает клиентам агентства решать любые рекламные задачи.
              section.-service-tags
                h2.__title Среди наших услуг
                ul.__list
                  li.__item Стратегическое и тактическое медиапланирование
                  li.__item Профессиональный баинг
                  li.__item Оптимизация затрат на рекламные кампании
                  li.__item Медиааудит и предоставление аналитики по различным СМИ
              img(src=`${paths.imgContent}/photo.jpg` srcset=`${paths.imgContent}/photo@2x.jpg 2x, ${paths.imgContent}/photo@3x.jpg 3x` alt='')
              p.
                Все это, а также доступ к авторитетным исследованиям и мониторингам, таким как Mediascope, позволяет нам подбирать самые актуальные решения для любых рекламных кампаний.  Для оценки эффективности
                и оперативного управления рекламными размещениями мы используем специальное программное обеспечение.
              p.
                Мы гордимся своей репутацией надежного агента-партнера в сфере закупки региональной рекламы и всегда открыты и рады сотрудничеству.
            .-col-xs-12.col-md-5
              section.-section.__about-info
                img.__about-info-img.hidden-xs.hidden-sm(src=`${paths.imgContent}/about-img.jpg` srcset=`${paths.imgContent}/about-img@2x.jpg 2x, ${paths.imgContent}/about-img@3x.jpg 3x` alt='')
                .__about-info-content
                  h2.__about-info-title Многолетняя и грамотная работа на рекламном рынке позволила нам
                  ul
                    li Cоздать уникальную партнерскую сеть по всей стране
                    li Отладить систему коммуникации между центром и регионами
                    li Наработать арсенал нестандартных решений, специальных проектов, спонсорства
                    li Создать для вас отличный полный сервис по закупке рекламы в региональных медиа
                    li Обеспечить максимально выгодные условия размещения
    +footer()