include ../blocks/doctype/doctype

block variables
  -
    var pageTitle = pages.index.title, pageUrls = [pages.index.url];

include ../blocks/header/header
include ../blocks/content/content
include ../blocks/footer/footer
include ../blocks/checkbox/checkbox

+doctype(pageTitle)._index
  .-wrapper
    +header()
    +content()
      .-slider-main-wrap
        .-slider-main.slick-slider(data-slick='{"autoplay": true, "autoplaySpeed": 7000}')
          .__item.slick-slide.loading
            img.__img(
              data-lazy=`${paths.imgContent}/slider-main/slide-1.jpg`
              data-lazy-srcset=`${paths.imgContent}/slider-main/slide-1@1024w.jpg 1024w, ${paths.imgContent}/slider-main/slide-1@1920w.jpg 1920w, ${paths.imgContent}/slider-main/slide-1@2048w.jpg 2048w, ${paths.imgContent}/slider-main/slide-1@4096w.jpg 4096w`
              data-object-fit='cover' onload='objectFit(this)'
              sizes='100vw' alt=''
            )
            .__content.container-fluid
              .__content-inner
                h2.__title.fadeInDown.animated.
                  Мы&nbsp;знаем о&nbsp;рекламе в&nbsp;регионах #[strong ВСЕ!]
                .__description.fadeInUp.animated
                  p.
                    Поможем спланировать, оперативно разместить и оценить эффективность рекламной кампании в  регионах&nbsp;— от Калининграда до Камчатки
                +a().__btn.btn.btn_3 #[span.btn__icon.hidden-xs] #[span.btn__label Узнать больше]
          .__item.slick-slide.loading
            img.__img(
            data-lazy=`${paths.imgContent}/slider-main/slide-2.jpg`
            data-lazy-srcset=`${paths.imgContent}/slider-main/slide-2@1024w.jpg 1024w, ${paths.imgContent}/slider-main/slide-2@1920w.jpg 1920w, ${paths.imgContent}/slider-main/slide-2@2048w.jpg 2048w, ${paths.imgContent}/slider-main/slide-2@4096w.jpg 4096w`
            data-object-fit='cover' onload='objectFit(this)'
            sizes='100vw' alt=''
            )
            .__content.container-fluid
              .__content-inner
                h2.__title.fadeInDown.animated.
                  Заголовок слайда #[strong 2!]
                .__description.fadeInUp.animated
                  p.
                    Tragedy at the saucer section was the love of life, influenced to an extraterrestrial processorи
                    Alignment at the planet was the nuclear flux of honor, travelled to a delighted particle
                +a().__btn.btn.btn_3 #[span.btn__icon.hidden-xs] #[span.btn__label Узнать больше]

        +social-networks().hidden-xs
      // Section About
      section.-section-about
        .-container-fluid
          h2.-section-about.__title Наше рекламное агентство больше 20&nbsp;лет помогает клиентам открывать новые горизонты
        .-info-cooperation
          .-container-fluid
            h3.-info-cooperation.__title Сотрудничество с&nbsp;нами&nbsp;— это:
          .__list
            figure.-info-cooperation.__item
              .__img-wrap
                img.__img(src=`${paths.imgContent}/info-cooperation/02.svg` alt='')
              figcaption.__caption Более 3&nbsp;000 партнеров в&nbsp;регионах России
            figure.-info-cooperation.__item
              .__img-wrap
                img.__img(src=`${paths.imgContent}/info-cooperation/01.svg` alt='')
              figcaption.__caption Закупка рекламы во&nbsp;всех типах&nbsp;СМИ
            figure.-info-cooperation.__item
              .__img-wrap
                img.__img(src=`${paths.imgContent}/info-cooperation/03@3x.png` alt='')
              figcaption.__caption Лучшие цены на&nbsp;размещение
            figure.-info-cooperation.__item
              .__img-wrap
                img.__img(src=`${paths.imgContent}/info-cooperation/04.svg` alt='')
              figcaption.__caption Оценка итогов рекламной кампании и&nbsp;рекомендации
            figure.-info-cooperation.__item
              .__img-wrap
                img.__img(src=`${paths.imgContent}/info-cooperation/05.svg` alt='')
              figcaption.__caption Качественный медиаанализ
            figure.-info-cooperation.__item
              .__img-wrap
                img.__img(src=`${paths.imgContent}/info-cooperation/06.svg` alt='')
              figcaption.__caption Индивидуальный подход к&nbsp;каждой кампании

      // Section Service
      section.-section-service
        .-container-fluid
          h2.-section-service.__title Работаем со&nbsp;всеми типами медиа
        .__list
          article.__item
            +a(pages.tv.url).__item-link(title=pages.tv.title)
              img.__item-img.lazy(
                data-src=`${paths.imgContent}/section-service/internet.jpg`
                data-srcset=`${paths.imgContent}/section-service/internet.jpg 1x, ${paths.imgContent}/section-service/internet@2x.jpg 2x, ${paths.imgContent}/section-service/internet@3x.jpg 3x`
                data-object-fit='cover' onload='objectFit(this)'
                alt=''
              )
              .__item-over
                h3.__item-title Интернет
                span.__item-label Перейти#[span.hidden-xs в&nbsp;услугу]
          article.__item
            +a(pages.tv.url).__item-link(title=pages.tv.title)
              img.__item-img.lazy(
                data-src=`${paths.imgContent}/section-service/ad.jpg`
                data-srcset=`${paths.imgContent}/section-service/ad.jpg 1x, ${paths.imgContent}/section-service/ad@2x.jpg 2x, ${paths.imgContent}/section-service/ad@3x.jpg 3x`
                data-object-fit='cover' onload='objectFit(this)'
                alt=''
              )
              .__item-over
                h3.__item-title Наружная реклама
                span.__item-label Перейти#[span.hidden-xs в&nbsp;услугу]
          article.__item
            +a(pages.tv.url).__item-link(title=pages.tv.title)
              img.__item-img.lazy(
                data-src=`${paths.imgContent}/section-service/radio.jpg`
                data-srcset=`${paths.imgContent}/section-service/radio.jpg 1x, ${paths.imgContent}/section-service/radio@2x.jpg 2x, ${paths.imgContent}/section-service/radio@3x.jpg 3x`
                data-object-fit='cover' onload='objectFit(this)'
                alt=''
              )
              .__item-over
                h3.__item-title Радио
                span.__item-label Перейти#[span.hidden-xs в&nbsp;услугу]
          article.__item
            +a(pages.tv.url).__item-link(title=pages.tv.title)
              img.__item-img.lazy(
                data-src=`${paths.imgContent}/section-service/tv.jpg`
                data-srcset=`${paths.imgContent}/section-service/tv.jpg 1x, ${paths.imgContent}/section-service/tv@2x.jpg 2x, ${paths.imgContent}/section-service/tv@3x.jpg 3x`
                data-object-fit='cover' onload='objectFit(this)'
                alt=''
              )
              .__item-over
                h3.__item-title Телевидение
                span.__item-label Перейти#[span.hidden-xs в&nbsp;услугу]
          article.__item
            +a(pages.tv.url).__item-link(title=pages.tv.title)
              img.__item-img.lazy(
                data-src=`${paths.imgContent}/section-service/press.jpg`
                data-srcset=`${paths.imgContent}/section-service/press.jpg 1x, ${paths.imgContent}/section-service/press@2x.jpg 2x, ${paths.imgContent}/section-service/press@3x.jpg 3x`
                data-object-fit='cover' onload='objectFit(this)'
                alt=''
              )
              .__item-over
                h3.__item-title Пресса
                span.__item-label Перейти#[span.hidden-xs в&nbsp;услугу]
          // Spacers for align
          .__item
          .__item
          .__item
          .__item
          .__item

      // Section Service 2
      section.-section-service-2
        .-container-fluid
          h2.-section-service-2.__title Мы предлагаем
        .__container
          ul.__list
            li.__item Cтратегическое и тактическое медиапланирование
            li.__item Анализ рынка и конкурентов
            li.__item Тщательный контроль рекламных кампаний
            li.__item Качественная оптимизация затрат на рекламные компании
            li.__item Медиааудит и предоставление аналитики по различным СМИ
            li.__item Юридическое сопровождение

      // Section Clients
      section.-section-clients
        .-container-fluid
          h2.-section-clients.__title Наши клиенты
        .-slider-clients
          .__inner.slick-slider(data-slick='{"autoplay": true, "autoplaySpeed": 10000}')
            article.__item.slick-slide
              +a().__item-img-wrap
                img.__item-img(
                  data-lazy=`${paths.imgContent}/clients/2.jpg`
                  data-lazy-srcset=`${paths.imgContent}/clients/2.jpg 1x, ${paths.imgContent}/clients/2.jpg 2x, ${paths.imgContent}/clients/2.jpg 3x`
                  alt=''
                )
              h3.__item-title
                +a().__item-link NewYorker
              p.__item-description Магазин
            article.__item.slick-slide
              +a().__item-img-wrap
                img.__item-img(
                  data-lazy=`${paths.imgContent}/clients/1.jpg`
                  data-lazy-srcset=`${paths.imgContent}/clients/1.jpg 1x, ${paths.imgContent}/clients/1.jpg 2x, ${paths.imgContent}/clients/1.jpg 3x`
                  alt=''
                )
              h3.__item-title
                +a().__item-link Mascotte
              p.__item-description Магазин
            article.__item.slick-slide
              +a().__item-img-wrap
                img.__item-img(
                  data-lazy=`${paths.imgContent}/clients/3.jpg`
                  data-lazy-srcset=`${paths.imgContent}/clients/3.jpg 1x, ${paths.imgContent}/clients/3.jpg 2x, ${paths.imgContent}/clients/3.jpg 3x`
                  alt=''
                )
              h3.__item-title
                +a().__item-link Юничел
              p.__item-description Магазин
            article.__item.slick-slide
              +a().__item-img-wrap
                img.__item-img(
                  data-lazy=`${paths.imgContent}/clients/4.jpg`
                  data-lazy-srcset=`${paths.imgContent}/clients/4.jpg 1x, ${paths.imgContent}/clients/4.jpg 2x, ${paths.imgContent}/clients/4.jpg 3x`
                  alt=''
                )
              h3.__item-title
                +a().__item-link ПЭК
              p.__item-description Доставка сборных грузов
            article.__item.slick-slide
              +a().__item-img-wrap
                img.__item-img(
                  data-lazy=`${paths.imgContent}/clients/5.jpg`
                  data-lazy-srcset=`${paths.imgContent}/clients/5.jpg 1x, ${paths.imgContent}/clients/5.jpg 2x, ${paths.imgContent}/clients/5.jpg 3x`
                  alt=''
                )
              h3.__item-title
                +a().__item-link Газпромбанк
              p.__item-description Банк
            article.__item.slick-slide
              +a().__item-img-wrap
                img.__item-img(
                  data-lazy=`${paths.imgContent}/clients/6.jpg`
                  data-lazy-srcset=`${paths.imgContent}/clients/6.jpg 1x, ${paths.imgContent}/clients/6.jpg 2x, ${paths.imgContent}/clients/6.jpg 3x`
                  alt=''
                )
              h3.__item-title
                +a().__item-link Леовит
              p.__item-description Здоровье нации
            article.__item.slick-slide
              +a().__item-img-wrap
                img.__item-img(
                data-lazy=`${paths.imgContent}/clients/7.jpg`
                data-lazy-srcset=`${paths.imgContent}/clients/7.jpg 1x, ${paths.imgContent}/clients/7.jpg 2x, ${paths.imgContent}/clients/7.jpg 3x`
                alt=''
                )
              h3.__item-title
                +a().__item-link Mascotte
              p.__item-description Магазин

      // Section Feedback
      section.-section-feedback
        .-container-fluid
          h2.-section-feedback.__title Появились вопросы? Напишите нам
          form.-form-feedback(action='' method='get' data-parsley-validate="")
            .-form-row._sm_2
              label.-form-label
                input.-text-field(type="text" name="name" required)
                span.__text Ваше имя
              label.-form-label
                input.-text-field(type="email" name="email" required)
                span.__text Email
            .-form-row
              label.-form-label
                textarea.-text-field._textarea(name="msg" required)
                span.__text Сообщение
            .-form-row._last
              .__agreement
                +checkbox(name='agreement' required) Я&nbsp;ознакомлен с&nbsp;#[+a(pages.confidentiality.url)(target='_blank') политикой конфиденциальности] #[br]и&nbsp;даю #[+a()(target='_blank') согласие на&nbsp;обработку своих персональных данных].
              button.__btn-submit.btn.btn_4(type='submit' data-toggle='submit') Отправить
    +footer()